* {
    box-sizing: border-box;
    border: 0 solid white;
    scroll-behavior: smooth;
}

:root {
    --font1: "Raleway", sans-serif;
    --gradient: linear-gradient(0.25turn, #030410, #0c3e44);
    --white: white;
    --purple: #9e96bf;
}

body {
    background: var(--gradient);
    font-family: var(--font1);
}

.page {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    max-width: 1280px;
}

/*Main Flexbox*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

/*Header Flex Box*/
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*Header Sizing*/
header {
    flex: 0 0 50%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    max-height: 100vh;
    text-align: left;
    justify-content: space-between;
}
/*Sticky Header*/
.sticky {
    top: 0;
    position: sticky;
}

.intro {
    display: flex;
    flex-direction: column;
    height: 10vh;
}

h1 {
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 1px;
}

h2 {
    color: var(--white);
    font-size: 25px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    color: var(--purple);
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*nav bar*/
nav {
    margin-top: 50px;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul li {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: 20vw;
    text-decoration: none;
    border-bottom: 1px solid var(--purple);
}

.element {
    color: var(--purple);
    text-decoration: none;
}

.element:hover,
.active {
    color: var(--white);
    font-size: 20px;
}

.active::before {
    content: ">";
    padding-right: 10px;
}

/*contact me link button*/
.get-in-touch a {
    color: var(--purple);
    border: 3px solid var(--purple);
    padding: 20px 50px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.get-in-touch:hover a{
color: var(--white);
border: 3px solid var(--white);
}

/*social media links*/

.socials {
display: flex;
}

.socials img {
    width: 80px;
    padding-right: 10px;
}

.facebook {
    border-radius: 100%;
}

#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/*Arrows pointers*/
.pointers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    padding-top: 50px;
}

.pointers:hover .pointer a{
    color: var(--white);
    cursor: pointer;
}

.pointer {
    color: var(--purple);
    font-size: 40px;
}

.pointer a {
    color: var(--purple);
    text-decoration: none;
}

/*about-me page*/
#about-me {
    min-height: 100vh;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 4px dashed var(--purple);
}

.about-me-title {
    font-size: 40px;
    padding-bottom: 50px;
}

#about-me p {
    color: var(--purple);
    font-size: 18px;
    margin-left: 180px;
    line-height: 1.4;
    padding-bottom: 50px;
}

.highlight {
    color: var(--white);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 100px;
}

h4 {
    color: var(--white);
    padding: 10px 30px 10px 30px;
    margin: 10px 0 10px 10px;
    border: 1px solid var(--purple);
    border-radius: 200px;
    width: 150px;
    text-align: center;
}

.resume {
    color: var(--purple);
}

.about-me-pointers
{
    align-content: center;
    align-self: center;
}

/*Projects Page*/

#projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

.projects-title {
    font-size: 40px;
    padding-bottom: 100px;
}

.project-container {

}

h5 {
    color: var(--purple);
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 5px;
}

h6 {
    color: var(--white);
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 5px;
}

.photo-container {
    display: flex;
}

.project-picture {
    width: 300px;
    opacity: .4;
}

.project-description {
position: relative;
bottom: 140px;
color: var(--white);
background-color: var(--purple);
margin-left: 220px;
padding: 30px 10px;
text-align: center;
}

.skills-used {
    position: relative;
    bottom: 120px;
}

.skills-used span {
    padding-left: .5px;
    padding-right: .5px;
    color: var(--purple);
}

.icons {
    width: 50px;
    position: relative;
    bottom: 100px;
}